.search-bar {
    margin: 20px 0;

    input[type="text"] {
        padding: 10px;
        width: 100%;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 1em;
    }

    &:focus {
        outline: none;
        border-color: #555;
    }
}